<!DOCTYPE html>
<html>
    
<head>
        <link rel="stylesheet" type="text/css" href="static/css/list.css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <div class = "wrapper">
        <div class = "logo"><a href="home"><img src="static/img/logo.PNG"></a></div>
    <nav class= "nav_menu">
        <ul class = "menu">
            <li class = "menu__item"><a href="home" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="Home">Home</span></span></a></li>
            <li class = "menu__item"><a href="intro" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="소개">소개</span></span></a></li>
            <li class = "menu__item"><a href="funding" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="펀딩">펀딩</span></span></a></li>
            <li class = "menu__item"><a href="#" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="입출금">입출금</span></span></a></li>
            <li class = "menu__item"><a href="login" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="로그인">로그인</span></span></a></li>
        </ul>
    </nav>
    </div>
    <figure class="snip1423">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
        <figcaption>
          <h3>A회사</h3>
          <p>All this modern technology just makes people try to do everything at once.</p>
          <div class="price">
            <s>$24.00</s>$19.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
      </figure>
      <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
        <figcaption>
          <h3>B회사</h3>
          <p>To make a bad day worse, spend it wishing for the impossible.</p>
          <div class="price">
            <s>$29.00</s>$39.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
      </figure>
      <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
        <figcaption>
          <h3>AB회사</h3>
          <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
          <div class="price">
            <s>$35.00</s>$45.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
      </figure>
  </body>
  <script type="text/javascript" src="static/js/info.js"></script>
  </html>