<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <!-- menu -->
    <div class = "wrapper">
        <div class = "logo"><a href="home"><img src="static/img/logo.PNG"></a></div>
    <nav class= "nav_menu">
        <ul class = "menu">
            <li class = "menu__item"><a href="home" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="Home">Home</span></span></a></li>
            <li class = "menu__item"><a href="intro" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="소개">소개</span></span></a></li>
            <li class = "menu__item"><a href="funding" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="펀딩">펀딩</span></span></a></li>
            <li class = "menu__item"><a href="#" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="입출금">입출금</span></span></a></li>
            <li class = "menu__item"><a href="login" class="menu__link"><span class="menu__title"><span class="menu__first-word" data-hover="로그인">로그인</span></span></a></li>
        </ul>
    </nav>
    </div>

    <!-- main body start -->
    <form action ="{% url 'selltoken' %}" method ="post" >
        {% csrf_token %}
        {{form|linebreaks}}
        <input type = "submit" value = "submit" name ="submit">
    </form>

</body>

</html>