{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript" src="{% static 'js/send_sell.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MetaMask_conn.js' %}"></script>

<head>
    <!-- sell내부에서 js를 찾아서 에러가 발생한다. -->
</head>

<body>

    <!-- main body start -->
    <script>
        var abi = '{{tokencompany.ABI}}';
        var json_ABI = abi.replace(/&quot/g, "\"");
        json_ABI = json_ABI.replace(/;/g, "");
        var companyAccount = '{{tokencompany.companyAccount}}';
        var ContractAddress = '{{tokencompany.ContractAddress}}';
        var quota = '{{quota}}';
        $(document).ready(function () {
            sendToken(ContractAddress, companyAccount, quota);
            location.href="/finsell";
        });
    </script>

</body>



{% endblock content %}
